# macOS
.DS_Store

# VSCode
.vscode/

# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider/JetBrains
.idea/

# Logs
*.log

# Additional stuff
backend/docs
appsettings.Development.json
frontend/docs
frontend/esamadhaan-ui/dist/
frontend/esamadhaan-ui/.angular/cache/
frontend/esamadhaan-ui/.angular/local/
frontend/esamadhaan-ui/.env
frontend/esamadhaan-ui/.env.*

# Node
node_modules/